<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="myConnection" connectionString="Data Source=192.168.171.36;Initial Catalog=3334;Integrated Security=True" />
    <add name="MyDBEntities" connectionString="metadata=res://*/DBEntities.csdl|res://*/DBEntities.ssdl|res://*/DBEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.171.36;initial catalog=3334;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="DBEntities" connectionString="metadata=res://*/Datamodels.DBEntities.csdl|res://*/Datamodels.DBEntities.ssdl|res://*/Datamodels.DBEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.171.36;initial catalog=3334;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="Entities" connectionString="metadata=res://*/Datamodels.Model1.csdl|res://*/Datamodels.Model1.ssdl|res://*/Datamodels.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.171.36;initial catalog=3334;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="Movies" connectionString="data source=192.168.171.36;initial catalog=3334;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework"
      providerName="System.Data.SqlClient" />
    <add name="SampleData.Properties.Settings._3334ConnectionString"
      connectionString="Data Source=192.168.171.36;Initial Catalog=3334;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>