<?xml version="1.0" encoding="utf-8"?>
<configuration>
 
  
  
<connectionStrings><add name="ProductEntities" connectionString="metadata=res://*/Libraries.ProductDBEntities.csdl|res://*/Libraries.ProductDBEntities.ssdl|res://*/Libraries.ProductDBEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.171.36;initial catalog=3334;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>